<!-- Extend Base Page -->
{% extends "base/base.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Coffee Wala | Check Out</title>
{% endblock title %}

<!-- Content -->
{% block content %}
<!-- Menu page -->
<div id="food-details-page">
    <section class="details-wrapper container">
        <h2 class="head-design mb-4">Your Orders <span>Your Orders</span></h2>

        {% for detail in details %}
        <div class="order-card">
            <div class="row mb-3 d-flex">
                <div class="col">
                    <h4>
                        Order Number : {{detail.id}}
                    </h4>
                    <p>Status :

                        {% if detail.is_ready and detail.is_delivered %}
                        Delivered
                        {% elif detail.is_ready %}
                        Ready
                        {% else %}
                        Processing
                        {% endif %}

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p> Orders Details : {{detail.order_details}}</p>
                    <p> Total Price : {{detail.total_price}}</p>
                    <p> Order Placed at : {{detail.created_at}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}

<!-- Scripts -->
{% block script %}
<script src=" {% static 'script/authentication.js' %} "></script>
{% endblock script %}