{% extends "base/base.html" %}

{% load static %}

<!-- Title -->
{% block title %}
<title>Cafe | Login</title>
{% endblock title %}

<!-- CSS Link -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}

<div class="login-page">
    <!-- Navbar | Header -->
    <div class="login-page-body container w-50">
        <h4>Login</h4>

        <form autocomplete="off" id="form" onsubmit="return loginValidation()"">
            <div class="mb-3">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="" id="first_name">
                <span id="first_name_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="" id="last_name">
                <span id="last_name_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="sic_number">SIC</label>
                <input type="text" class="form-control" name="" id="sic_number">
                <span id="sic_number_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="" id="email">
                <span id="email_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="password1">Password</label>
                <input type="password" class="form-control" name="" id="password1">
                <span id="password1_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" name="" id="password2">
                <span id="password2_error" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}