{% extends "base/base.html" %}

{% load static %}

<!-- Title -->
{% block title %}
<title>Cafe | Menu</title>
{% endblock title %}

<!-- CSS Link -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock stylesheet %}


<!-- Content -->
{% block content %}

<div class="menu-page-body container">
    <dic class="row">
        <!-- Menu Display -->
        <div class="col-3 bg-danger p-2">
            <ul class="list-group">
                {% for food_categorys in food_category %}
                <li class="list-group-item">{{food_categorys.fc_name}}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Food Display -->
        <div class="col  bg-primary p-2">

            <div class="row">
                {% for fooditems in foodmenu %}
                <div class="col">
                    <div class="card food-tem-card">
                        <img src=" {{fooditems.f_photo.url}} " class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">{{fooditems.f_name}}</h4>
                            <p class="card-text"> Rs. {{fooditems.f_price}}</p>
                            <a href="" class="btn btn-primary">Check</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </dic>
</div>


{% endblock content %}