<!-- Extend Base Page -->
{% extends "base/base.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>Coffee Wala | Search</title>
{% endblock title %}

<!-- Content -->
{% block content %}
<!-- Home Page -->
<div id="search-page">
    <section class="search-wrapper container">
        <div class="input-group mb-3 search-bar">
            <form action="{% url 'searchbar' %}" method="get">
                <input type="text" class="form-control" placeholder="Search..." name="searchinput">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <div class="search-result">
            {% for foods in food %}
            <h1>{{foods.name}}</h1>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock content %}