@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.error_message {
    color: red;
    font-size: 12px;
}


/* Home Page */
.home-page {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand img {
    width: 50px;
}

.navbar .nav-item {
    margin: 10px;
}

.navbar .nav-item .nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.navbar .nav-item .nav-btn {
    color: #fff;
    background-color: #BA8B02;
    border-radius: 2px;
    border: none;
    padding: .5rem 2rem;
    text-transform: uppercase;
}

.navbar .nav-item .nav-btn:hover {
    box-shadow: 0px 0px 8px 0px #BA8B02;
    color: #111;
}

.navbar .nav-item a:hover {
    color: #BA8B02;
}

.home-page-body {
    color: #111;
}

.home-page-body .row{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-body p {
    font-size: 1rem;
    text-transform: uppercase;
}

.home-page-body h1 {
    font-size: 4rem;
}

.home-page-body h1 span {
    color: #BA8B02;
}

.home-page-body .btn-section {
    margin-top: 4rem;
}

.home-page-body .order-btn:nth-child(1) {
    padding: 1rem 2.2rem;
    background: #BA8B02;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.home-page-body .order-btn:nth-child(1):hover {
    box-shadow: 0px 0px 8px 0px #BA8B02;
}

.home-page-body .order-btn:nth-child(2) {
    padding: 1rem 2.2rem;
    border-radius: 5px;
    border: 1px solid #BA8B02;
    cursor: pointer;
    margin: 10px;
    color: #BA8B02;
}

.home-page-body .order-btn:nth-child(2):hover {
    box-shadow: 0px 0px 8px 0px #BA8B02;
}

.home-page-body .banner-img {
    width: 500px;
}



/* About Page */

.about-page-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}

.header-text {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    letter-spacing: 1.5px;
}

.header-text span {
    width: 500px;
    position: absolute;
    color: gray;
    font-size: 60px;
    opacity: 0.3;
}


/* Contact Page */
.contact-page {
    width: 100%;
    height: auto;
}

.contact-page .map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page iframe {
    width: 100%;
}

.form-page .col {
    padding: 2rem;
}

.contact-page .send-btn {
    text-transform: uppercase;
    padding: 0.7rem 4rem;
    color: #fff;
    background-color: #BA8B02;
}

.contact-page .send-btn:hover {
    color: #fff;
    box-shadow: 0px 0px 8px 0px #BA8B02;
}

.contact-page .information img {
    width: 100px;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 16px;
}

.information p {
    margin: auto 15px;
}

.icon {
    color: #111;
    width: 24px;
    font-size: 24px;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: #333;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: #BA8B02;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.05);
    color: #fff;
}

.contact-page .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.contact-page .form-control {
    background-color: gray;
    opacity: 0.4;
    border-radius: 0;
}





/* Menu Page */
.menu-page-body{
    width: 100%;
    padding-top: 8%;
}