{% extends "base/base.html" %}

{% load static %}

<!-- Title -->
{% block title %}
<title>Cafe | About</title>
{% endblock title %}

<!-- CSS Link -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}

<div class="about-page">
    <!-- Navbar | Header -->
    <div class="about-page-body container">

        <div class="base-text">
            <h1 class="header-text">About Us <span>About Us</span></h1>
        </div>

        <div class="about-content my-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut veniam saepe aliquid animi
                incidunt dolorum laudantium iusto quod optio corrupti dolore, aperiam et asperiores cumque aspernatur
                exercitationem explicabo iure debitis, quia neque qui perferendis? Quibusdam nostrum ullam rerum vero?
                Culpa consequatur fuga tempora accusamus eos ipsam consequuntur voluptatum nobis rerum tenetur
                distinctio veniam tempore officiis cumque, quod ipsa! Magni deserunt velit a quasi repudiandae quis illo
                totam veritatis modi blanditiis fugiat, nemo voluptates omnis dicta exercitationem nobis quidem. Dolorum
                recusandae laborum magni impedit quae beatae molestias a placeat! Possimus deleniti quisquam, quis
                pariatur, cupiditate odio debitis in non, corporis minima sequi! Itaque tempore porro quia. Animi minus
                deleniti suscipit excepturi atque. Ipsam dignissimos atque minima quibusdam fugit ea facere expedita,
                nulla temporibus sapiente eaque fuga a et quidem illo dicta, libero commodi sequi, aperiam minus quasi
                ducimus vel nesciunt. Voluptate assumenda dolorem ex omnis debitis quae, maiores delectus magnam.
            </p>
        </div>

    </div>
</div>

<div class="banner-page">

</div>

{% endblock content %}