{% extends "base/base.html" %}

{% load static %}

<!-- Title -->
{% block title %}
<title>Cafe | About</title>
{% endblock title %}

<!-- CSS Link -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}

<div class="contact-page">
    <!-- Navbar | Header -->
    <div class="contact-page-body container">
        

    </div>
</div>

<div class="banner-page">

</div>

{% endblock content %}