{% extends "base/base.html" %}

{% load static %}

<!-- Title -->
{% block title %}
<title>Cafe | Home</title>
{% endblock title %}

<!-- CSS Link -->
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}

<div class="home-page">
    <!-- Navbar | Header -->
    <div class="home-page-body container">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p>🍕 Easy way to order your food</p>
                <h1>Order Tasty & <br> Fresh Food <br> <span>anytime!</span></h1>
                <div class="btn-section">
                    <a href="#" class="btn order-btn">Order Now</a>
                    <a href=" {% url 'menu_page' %} " class="btn order-btn">See Menu</a>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {% static 'assets/img_1.png' %} " class="banner-img" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-3">
        {% for c in foodmenu %}
        <div class="col m-1">
            <div class="card m-1" style="width: 18rem;">
                <img src=" {{c.f_photo.url}} " class="card-img-top" alt="..." style="height: 150px;">
                <div class="card-body">
                    <h4 class="card-title">{{c.f_name}}</h4>
                    <p class="card-text"> &dollar; {{c.f_price}}</p>
                    <a href="" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}